*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
span,
a,
button,
input,
textarea {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  font-family: 'DM Sans', serif, sans-serif;

  background-color: rgb(189, 189, 189);
}

main {
  width: 1184px;
  background-color: rgb(255, 255, 255);

  margin-top: 100px;
  margin-bottom: 100px;

  border-radius: 0 13px 13px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
}

#app {
  display: flex;
  max-width: 1440px;

  margin: 0 auto;
}

.flex {
  display: flex;
}
